<!DOCTYPE html>
<html lang="en" dir="ltr">
  <body>
    <h1><%=@game.player1.name%> vs. <%= @game.player2.name%>!</h1>
    <h1>A wild <%=@game.player1.name%> appears!</h1>
    <br>
    <img src="/images/steven_img_clear.png" alt="steven" />

    <h2><%=@game.player1.name%>: 60HP</h2>
    <br>

    <h1>It's <%=@game.current_turn.name%>'s Turn'</h1>
      <form action="/attack">
        <input type="submit" value="Attack">
      </form>
      </body>
</html>
